@import '../style/colors';
@import '../style/dimens';

html, body {
  margin: 0;
  padding: 0;
}

:local(.container) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $default-text-size;
  background-color: $app-bg-color;
  color: $default-text-color;
  height: 100vh;
  padding: 15px 2%;
  box-sizing: border-box;
}