@import '../style/colors';
@import '../style/dimens';

html, body {
  margin: 0;
  padding: 0;
  background-color: $app-bg-color;
}

:local(.container) {
  font-family: Roboto, sans-serif;
  font-size: $default-text-size;
  height: 100vh;
  background-color: $app-bg-color;
  color: $default-text-color;
  box-sizing: border-box;

  .content {
    padding: $nav-height + 15px 2% 15px 2%;
    box-sizing: border-box;
  }

  .content.desktop {
    margin-left: $side-menu-width;
    height: 100vh;
    overflow: scroll;
  }
}