$app-bg-color: #F6F6F6;
$bank-bg-color: #FCFCFC;
$bank-border-color: #BBB;
$default-text-color: #222;
$block-text-color: #222;

$no-unit: #888;
$time: #44FF44;
$distance: #ff9933;
$volume: #6699FF;
$mass: #ff9999;
$factor: 15%;

$unit-colors: (
  ms: lighten($time, $factor * 2),
  s: lighten($time, $factor * 1.5),
  min: lighten($time, $factor),
  hr: $time,
  day: darken($time, $factor),
  wk: darken($time, $factor * 1.5),
  yr: darken($time, $factor * 2),

  mm: lighten($distance, $factor * 2),
  cm: lighten($distance, $factor * 1.5),
  in: lighten($distance, $factor),
  ft: $distance,
  m: darken($distance, $factor),
  km: darken($distance, $factor * 1.5),
  mile: darken($distance, $factor * 2)
)