$app-bg-color: #EEE;
$block-text-color: #222;

$time: #33FF33;
$distance: #ff8033;
$volume: #6699FF;
$mass: #ff9999;
$factor: 20%;

$unit-colors: (
  ms: lighten($time, $factor * 2),
  s: lighten($time, $factor * 1.5),
  min: lighten($time, $factor),
  hr: $time,
  days: darken($time, $factor),
  wk: darken($time, $factor * 1.5),
  yr: darken($time, $factor * 2),

  mm: lighten($distance, $factor * 2),
  cm: lighten($distance, $factor * 1.5),
  in: lighten($distance, $factor),
  ft: $distance,
  m: darken($distance, $factor),
  km: darken($distance, $factor * 1.5),
  miles: darken($distance, $factor * 2)
)