$factor: 12.5%;
$time: #00FF00;
$distance: #ff8033;
$volume: #6699FF;
$mass: #ff9999;


$unit-colors: (
  ms: lighten($time, $factor * 3),
  s: lighten($time, $factor * 2),
  min: lighten($time, $factor),
  hr: $time,
  days: darken($time, $factor),
  wk: darken($time, $factor * 2),
  yr: darken($time, $factor * 3),

  mm: lighten($distance, $factor * 3),
  cm: lighten($distance, $factor * 2),
  in: lighten($distance, $factor),
  ft: $distance,
  m: darken($distance, $factor),
  km: darken($distance, $factor * 2),
  miles: darken($distance, $factor * 3)
)