@mixin no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin no-highlight() {
  -webkit-tap-highlight-color: transparent;

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
  }
}