@import '../style/dimens';
@import '../style/colors';

:local(.container) {
  border: 1px solid $bank-border-color;
  border-radius: 6px;
  margin: 0.5em 0;
  background-color: $bank-bg-color;

  .title {
    color: darken($bank-border-color, 15%);
    font-size: $small-text-size;
    font-weight: 400;
    padding: 6px 7px;
  }

  .blocks {
    padding: 3px 1%;
  }
}