@import '../style/colors';

$border-radius: 4px;
$border-color: #999;
$divider-color: darken($border-color, 10%);

:local(.container) {
  border: 2px solid $border-color;
  border-radius: round($border-radius * 1.5);
  box-shadow: 0 1px 3px black;
  display: inline-block;
  margin: 3px;
  cursor: pointer;

  .side {
    padding: 5px;
    text-align: center;
  }

  .side:nth-child(1) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 1px solid $divider-color;
  }

  .side:nth-child(2) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 1px solid $divider-color;
  }

  @each $unit, $color in $unit-colors {
    .#{$unit} {
      background-color: $color;
    }
  }

  transition: 0.70s;

  .rotated {
    transform: rotate(180deg);
  }
}